body{
    margin:0;
    font-family: "Poppins",sans-serif;
}

a:hover{
    text-decoration: none !important;
}

.header{
    display:flex;
    align-items: center;
    position: relative;
    margin-left: 15rem;
    margin-right: 15rem;
}

.header-logo{
    padding-top:0.65rem;
    width:33%;
}

.logo{
    width: 8rem;
    height: 4rem;
}

.header-content{
    width:100%;
}

.header-list{
    width:100%;
    list-style-type: none;
    display:table;
    margin: 0;
    padding: 0;
}

.header-cell{
    display:table-cell;
    padding-left: 5rem;
}

.header-cell a{
    transition:color 0.3s;
    text-decoration: none;
    color:black;
    font-size: 18px !important;
    line-height: 29px !important;
    font-weight: 500 !important;
}

.header-cell a:hover{
    color:deepskyblue;
}

.slide{
    height:400px !important;
}

.slide-img{
    height: 400px !important;
}

    /* Center the carousel caption text */
    .custom-caption {
        display: flex;
        justify-content: left !important; /* Horizontally center text */
        align-items: flex-start !important; /* Align text to the left vertically */
        text-align: left !important; /* Left-align text content */
        margin-bottom: 75px; /* Add some padding for spacing */
        margin-left: 95px;
    }

    /* Style the caption text (you can adjust the styles as needed) */
    .custom-caption h5 {
        font-size: 24px;
        max-width: 600px;
        font-weight: bold;
        color: #fff;
    }

    .custom-caption p {
        font-size: 16px;
        max-width: 600px;
        color: #fff;
    }

.content{
    margin-top: 2rem;
    margin-left: 24rem;
    margin-right: 24rem;
}

.about-title{
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 1.6rem;
    color: #666666;
}

.about-description{
    padding-top: 1.6rem;
    color:#999B9C;
}

.about-btn{
    padding-top: 1.6rem;
}

.about-btn button{
    transition: color ease 0.3s;
}

.about-btn button:hover{
    color:#fff;
}

.first-section{
    display:flex;
    flex-direction: row;
}

.about{
    width:75%;
}

.solution-slider{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 400px !important;
    height: 250px !important;
    margin-left: 20px;
    padding: 15px;
    background-color: #FAFAFA;
}

.solution-header{
    display:flex;
    flex-direction: row;
    padding-bottom: 1.6rem;
}

.solution-header-text{
    padding-left:1rem;
    color: #333333;
    font-weight: 700;
    font-size: 20px;
}

.solution-description{
    color:#999B9C;
    padding-bottom: 1.6rem;
}

.solution-btn a{
    color:#333333;
    font-weight: 700;
    transition: all ease 1s;
}

.solution-slider:hover .solutions .solution-btn a i{
    color: #104CBA;
}

.solutions-slider-btn{
    display:flex;
    flex-direction: row;
}

.solutions-slider-btn .previous-solution-slide-btn{
    position: absolute;
    top:10px;
    right:20px;
}

.solutions-slider-btn .next-solution-slide-btn{
    position: absolute;
    top:10px;
    right:10px;
}

.solutions-slider-btn div:hover{
    cursor:pointer;
    color: #104CBA;
}

.second-section{
    margin-top: 1.6rem;
}

.services-header{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 1rem;
    border-bottom: 1px solid #c3c3c3;
}

.services-header-text{
    font-weight: 700;
    font-size: 20px;
    color: #333333;
}

.services-carousel-slider-btn{
    margin-left: 810px;
    display:flex;
    flex-direction: row;
    justify-content: end;
}

.services-carousel-slider-btn i {
    transition: all ease 0.5s;
    border: 1px solid #104CBA;
    color: #104CBA;
    margin: 3px;
    padding: 5px 10px 5px 10px;
}

.services-carousel-slider-btn i:hover{
    background-color: #104CBA;
    color:#fff;
}

.service{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #E7EDF8;
    margin: 10px;
    padding: 10px;
}

.services-icon img{
    width: 200px;
    height: 200px;
}

.services-header-text{
    color:#666666;
}



